<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.js"></script>
</head>
<body>
{{ username }}
    {% if message %}
    <p style="color: red;">{{ message }}</p>
    {% endif %}
    <form action="http://localhost:5000/login" method="POST">
        <legend>请登录:</legend>
        <p><label>用户名：<input name="username" value="{{ username }}"></label></p>
        <p><label>密码：<input name="password" type="password"></label></p>
        <p><button type="submit">登录</button></p>
    </form>
<!--    <script>-->
<!--        $(function(){-->
<!--            $('button').on('click', function() {-->
<!--                var formData = $('form').serializeArray()-->
<!--                formData = formData.reduce((res, cur) => {-->
<!--                    res[cur['name']] = cur['value']-->
<!--                    return res-->
<!--                }, {})-->
<!--                $.post('http://localhost:5000/login', formData, res => {-->
<!--                    console.log(res)-->
<!--                })-->
<!--            })-->
<!--        })-->
<!--    </script>-->
</body>
</html>